{
	"presets": ["@babel/preset-env"],
    "plugins": [
        [
          "module-resolver",
          {
            "alias": {
                    "@": "./src",
                    "@controllers": "./controllers",
                    "@services": "./services",
                    "@db": "./db",
            }
          }
        ]
      ]
}